<div class="container">
    <h3 mat-dialog-title>¿Seguro que deseas eliminar este {{ALUMNO}}?</h3>
    <div mat-dialog-content>
        Id: {{alumno.id_alumno}}
        <p></p>
        {{ALUMNO}}: {{alumno.nombre}} {{alumno.apellidos}}
        <p></p>
    </div>

    <div mat-dialog-actions>
        <button mat-button id="deleteEntidad" (click)="confirmDelete()">Eliminar {{ALUMNO}}</button>
        <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
</div>
