<div class="container">
    <h3 mat-dialog-title>Añadir {{ALUMNO}}</h3>

    <form class="mat-dialog-content" [formGroup]="alumnoForm">

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="NIF/NIE" formControlName="nif_nie" name="nif_nie" maxlength="20" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" maxlength="50" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Apellidos" formControlName="apellidos" name="apellidos" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" formControlName="fecha_nacimiento" name="fecha_nacimiento" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-label>Entidades</mat-label>
                <mat-select formControlName="entidad" required>
                    <mat-option *ngFor="let ent of entidades" [value]="ent.id_entidad">
                        {{ent.entidad}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-label>Ciclos</mat-label>
                <mat-select formControlName="ciclo" required>
                    <mat-option *ngFor="let cic of ciclos" [value]="cic.id_ciclo">
                        {{cic.ciclo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput type="number" placeholder="Curso" formControlName="curso" name="curso" maxlength="10" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Teléfono" formControlName="telefono" name="telefono" maxlength="9" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Dirección" formControlName="direccion" name="direccion" maxlength="50">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="CP" formControlName="cp" name="cp" maxlength="20">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Localidad" formControlName="localidad" name="localidad" maxlength="50">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="provincia">
                    <mat-option>Sin provincia</mat-option>
                    <mat-option *ngFor="let pro of provincias" [value]="pro.id_provincia">
                        {{pro.provincia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput placeholder="Observaciones" formControlName="observaciones" name="Observaciones"></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button id="onSubmit" type="submit" [disabled]="!alumnoForm.valid" (click)="confirmAdd()">Guardar</button>
            <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>

    </form>
</div>
